{% extends "base.html" %} {% block title %}New User{% endblock %} {% block
content %}
<h1>Create User</h1>
<form method="POST">
    <div>
        <h3>First Name</h3>
        <input type="text" name="first_name" placeholder="Enter First Name" />
    </div>

    <div>
        <h3>Last Name</h3>
        <input type="text" name="last_name" placeholder="Enter Last Name" />
    </div>

    <div>
        <h3>Profile Picture</h3>
        <input
            type="text"
            name="image_url"
            placeholder="Provide Image of This User"
        />
    </div>
    <div>
        <button type="submit">Create User</button>
    </div>
</form>
{% endblock %}
